
		
.container {
	display: grid;
	grid-template-columns: repeat(auto-fill,minmax(200px,1fr)); /* 1fr 1fr 2fr */
													/* 300px 300px 300px; */
													/* repeat(3,300px)*/
	grid-template-rows: 350px ;
	grid-gap: 5px;
	
	}
img {
	width: 100%;
	}
.left {
	background-color: #bbd;
	padding: 10px;
	}
.right{
	background-color: whitesmoke;
    padding: 10px;
    border: 1px solid #bbd;
	}
p:first-child {
    text-align: center;
    padding: 5px 0;
}