
		
.container {
	display: grid;
	grid-template-columns: repeat(auto-fill,minmax(200px,1fr)); /* 1fr 1fr 2fr */
													/* 300px 300px 300px; */
													/* repeat(3,300px)*/
	grid-template-rows: 350px ;
	grid-gap: 10px;
	background: linear-gradient(to right, hsla(36, 32%, 53%, 0.589), hsla(59, 35%, 54%, 0.726));
	}
img {
	width: 100%;
	}
.left {
	background-color: rgb(191, 199, 192);
	padding: 10px;
	}
.right{
	background-color: whitesmoke;
    padding: 10px;
    background-color: rgb(160, 180, 164);;
	}
p:first-child {
    text-align: center;
    padding: 5px 0;
}