/* general properties */
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
body {
	font-family: sans-serif;
	font-size: 2em;
	background-color: whitesmoke;
}
/* Grid container for entire page */
.container {
	display: grid;
	grid-template-columns: repeat(6,1fr);
	grid-template-rows: 20vh 80vh 650px;
}

/* Navigation section */
/* First grid item is also a flex container */
ul {
  grid-column: 1/span 6;
  grid-row: 1;
  justify-content: space-around;
  align-items: center;
  display: flex;
}
/* items in the flex container */
ul li {
  list-style-type: none;
}

ul a:link,
ul a:visited {
  color: goldenrod;
  text-decoration: none;
}

ul a:hover,
ul a:visited:hover,
ul a:active,
ul a:visited:active {
  color: black;
  text-decoration: underline;
}

/* Hero section */
/* Second grid item - also a flex container */
.hero  {
  grid-column: 1/span 6;
  grid-row: 2;
  justify-content: center;
  align-items: center;
  background-image: url("../images/hot-air-balloons3.jpg");
  background-size: cover;
  background-position: center;
  display: flex;
}
.hero h1 {
	padding-top: 5px;
	font-size: 100px;
	text-shadow: 1px 1px 2px white, 0 0 1em blue, 0 0 0.2em goldenrod;
}

/* Main content */
/* The third grid item, and a flex container for images */
.wrapper {
	grid-column: 1/span 6;
	grid-row: 3;
	display: flex;
	align-items: flex-start;
}
.wrapper > div {
	flex: 1 1 15vw;
	/*transition: all 1000ms cubic-bezier(.14, .69, .93, 1);*/
	
}
/*
.wrapper > div:hover  {
	flex-basis: 35vw;
}*/
.img1 {
	width: 100%;
}
/*
.img1:hover {
	height: 100%;
	object-fit: cover;
}
*/
/* Media queries for devices less than 601 pixels wide */
@media only screen and (max-width: 600px) {
	ul {
		flex-direction: column;
	}
	.wrapper {
		flex-direction: column;
	}
	.wrapper > div {
		width: 100%;
	}

}



